header {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px auto;

        ul {
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 30px 0;

            li {
                list-style: none;


                a {
                    padding: 10px;
                    text-decoration: none;

                    color: #7A7A78;

                    &:hover,
                    &.active {
                        border-bottom: 3px solid blue;

                    }
                }
            }

        }
    }
}