.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    height: 300px;
    background-size: cover;
}


h4 {
    font-size: 15px;
    color: white;
}

.bg-container {
    background-image: url(../img/footer-bg.jpg);
}


ul {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 10px;

    li {
        list-style: none;
        font-size: 10px;

        a {
            text-decoration: none;
            color: #7A7A78
        }
    }

}

.logo-container {
    flex-basis: 50%;
}

.logo {
    height: 400px;
}